<div id="mentions_legales_container">
    <div id="mentions_legales">

        <h2 class="titre">Mentions légales :</h2>

        <h3 class="titre">Introduction : </h3>
        <p class="paragraphe">
            Cette page contient les mentions légales du site sur lequel vous naviguez.
            N'étant pas juriste, ni avocat, bref on sait pas écrire des mentions légales, eh bien on a quand même essayé.
            Le résultat n'est pas garanti mais après tout ce site ne sera a priori pas mis en ligne.
            De plus comme on ne vole pas vos données les mentions légales de ce site devraient être assez courtes.
        </p>

        <h3 class="titre">C'est pas nous !</h3>
        <p class="paragraphe">
            Tout est dans le titre ! Si vous avez un soucis avec notre site, eh bien c'est pas notre faute, c'est la vôtre, point.
            On va pas allez au tribunal pour un site créé dans le cadre scolaire quand même, faut pas abuser.
            Si vous tenez absolument à perdre votre temps dans un tribunal, allez voir du coté de Gogle ou de Facebok, ils ont plein d'avocats qui s'ennuient parce que eux sont capables d'écrire des mentions légales correctes (contrairement à nous).
            Mais avant d'aller au tribunal n'oubliez pas de faire un post sur Twotter pour dire que vous êtes pas content, ça servira à rien mais peut-être que vous trouverez d'autre gens comme vous.
        </p>

        <h3 class="titre">C'est toujours pas nous !</h3>
        <p class="paragraphe">
            Au cas où le précédent paragraphe ne serait pas assez clair, on n'est en aucun cas responsable, quelque soit le soucis que vous avez.
            D'ailleurs comment pouvez avoir un soucis avec notre site ? Vous utiliser un ordinateur comme une personne agées ou quoi ? (on dit vieux normalement, mais pour être politiquement correct ici on dit personnes aggées).
            Je répète, ce n'est pas de notre faute, il faut vous le dire en combien de langues ?
            It's not our fault. No es nuestra culpa. Es ist nicht unsere Schuld. それは私たちのせいではありません. 这不是我们的错. 
            Merci Google Traduction !
        </p>

        <h3 class="titre">Les mécas</h3>
        <p class="paragraphe">
            Vous allez me dire "à quoi ça sert un paragraphe sur les mécas dans des mentions légales ?", je vous ai déja dis qu'on aimait bien les mécas.
            Oui, je suis en train de regarder Evangélion en ce moment, alors peut-être que ça influence mes préférences. 
            D'ailleurs quoi qu'en dise Alistair je reste convaincu que Darling in the FranXX est bien meilleur que Guilty Crown. (♥ ZeroTwo)
        </p>

        <h3 class="titre">Données</h3>
        <p class="paragraphe">
            Je vous rassure on ne va pas parler des données qu'on vous vole mais plutôt de celle que l'on utilise sur ce site.
            Ces données sont généreusement fournies par Rennes Metropole (enfin généreusement, disont qu'on a pas lu leurs conditions d'utilisations, donc si ça se trouve on a pas le droit de les utiliser, mais dans ce cas là pourquoi mettre une API).
            Dans tous les cas on les remercie, et si on a pas le droit de les utiliser on est désolé (Nous faites pas un procès svp).
        </p>



    </div>
</div>
