
#map_container {
  width: 100%;
  height: 100%;

  border: 1px solid var(--dark-color);
}


#map {
  height: 100%;
  width: 100%;
}
/*
.square {
  position: relative;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 50%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}*/
