<!-- module de sélection de l'année et du tour-->
<app-select-annee-tour *ngFor="let r of resetAnneeTour" (newAnneeTourEvent)="changeAnneeTour($event)"></app-select-annee-tour>

<!-- module d'affichage des infos du tour sélectionné-->
<div id="infos_principales">

    <!-- carte -->
    <app-map></app-map>

    <!-- affichage des résultats de Rennes ou du bureau (si sélectionné) -->
    <div id="infos_zone">
        <app-select-bureau *ngFor="let r of resetBureaux" [bureaux]="bureaux" (newBureauEvent)="changeBureau($event)"></app-select-bureau>
        <app-participation [participation]="participation_bureau"></app-participation>
        <app-candidats [candidats]="candidats_bureau"></app-candidats>
    </div>

    <!-- affichage des résultats du centre -->
    <div id="infos_centre" style="display: none;">
        <app-participation *ngIf="bureau_selected != ''" [participation]="participation_bureau"></app-participation>
        <app-candidats *ngIf="bureau_selected != ''" [candidats]="candidats_bureau"></app-candidats>
    </div>
</div>

