#infos_principales {
    display: flex;
    flex-flow: row wrap;
    margin: 20px;
    column-gap: 20px;
}

app-map {
    min-width: 50%;
    min-height: 300px;
    margin-bottom: 20px;
    flex-grow: 1;
  }

#infos_zone > h3 {
    color: var(--medium-dark-color);
}

@media screen and (max-width: 640px) {
    #infos_principales {
        flex-direction: column;
    }
}