//carte + liste candidats
#infos_principales {
    //affichage en ligne, avec retour à la ligne si trop petit
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    //marge de 20px autour
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

    //20px entre les différentes colonnes, permet de ne pas avoir de marge si retour à la ligne
    //column-gap: 20px; //fonctionne uniquement sur firefox
}

//carte
app-map {
    //largeur minimale de 50%
    min-width: 50%;
    max-width: 800px;

    //hauteur entre 80 et 90% de la hauteur de l'ecran
    min-height: 80vh;
    max-height: 90vh;

    //étirement en largeur
    flex-grow: 1;

    //espace de 20 px en dessous
    margin-bottom: 20px;
  }

app-map, #infos_zone {
    margin-right: 10px;
    margin-left: 10px;
}

#infos_zone > h3 {
    //couleur du titre "centre de vote"
    color: var(--medium-dark-color);
}