<div id="contact">

    <div class="person">
        <div class="person-texte">
            <h3>Kiéran GOYAT</h3>

            <p><b>Adresse mail étudiante : </b> <a href="mailto:goyat.e1700924@etud.univ-ubs.fr">goyat.e1700924@etud.univ-ubs.fr</a></p>
            <p><b>Adresse mail personnelle : </b> <a href="mailto:kieran.goyat@laposte.net">kieran.goyat@laposte.net</a></p>
        </div>

        <div class="person-img">
            <img src="assets/kiki.jpg"> <!--kiki.png.....Je dis oui XD-->
        </div>

    </div>

    <div class="person">
        <div class="person-texte">
            <h3>Alistair RAMEAU</h3>

            <p><b>Adresse mail étudiante : </b> <a href="mailto:rameau.e1703301@etud.univ-ubs.fr">rameau.e1703301@etud.univ-ubs.fr</a></p>
            <p><b>Adresse mail personnelle : </b> <a href="mailto:alistair-rameau@hotmail.fr">alistair-rameau@hotmail.fr</a></p>
        </div>

        <div class="person-img">
            <img src="assets/ali.png">
        </div>

    </div>


</div>
