#error_container {
    background-color: var(--medium-dark-color);

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#error_container > p,i {
    color: var(--light-color);
    font-size: 20px;    
    margin: 5px;
}

#error_container > i {
    cursor: pointer;
}

#error_container > i:hover {
    color: var(--medium-light-color);
}