<div id="aide_container">
  <div id="aide">

      <h2 class="titre">Aide</h2>

      <h3 class="titre">Introduction</h3>
      <p class="paragraphe">
        Cette application permet de visualiser les informations sur les résultats des élections présidentielles à Rennes pour les années 2007 à 2017.
      </p>
      <p class="paragraphe">
        Compatibilité : Testé positivement avec Google Chrome, Mozilla Firefox et Microsoft Edge.
      </p>

      <h3 class="titre">Utilisation</h3>
      <p class="paragraphe">
        L'application se présente sous la forme d'une single page application composée d'une zone centrale contenant les informations et de 2 zones aux extrémités hautes et basses permettant d'accéder à d'autres informations. Une présentation des différentes parties :
      </p>
        <ul>
          <li>La page Accueil affichée par défaut est la page principale de l'application, et permet d'afficher toutes les informations liées aux élections. Cette zone est principalement composée d'une carte (centrée sur Rennes par défaut) et d'une zone indiquant la liste des candidats ainsi que leur score respectif. Trois menus déroulants (deux au dessus de la carte, un au dessus des candidats) permettent de changer ou préciser les informations voulues (une autre élection, un autre tour ou les informations d'un bureau particulier). De plus, les emplacements des bureaux apparaissent sur la carte et il est possible de cliquer dessus afin d'afficher les informtaions électorales de ceux-ci.</li>
          <li>La page Contact contient nos informations afin de pouvoir nous contacter plus facilement via notre adresse mail étudiante ou personnelle.</li>
          <li>La page Aide contient cette présente information indiquant le contenu général du site.</li>
          <li>La page Mentions Légales contient une digression peu pertinente sur la légalité du site actuel, au vu du fait que celui-ci est créé dans le cadre d'un projet scolaire..</li>
        </ul>

  </div>
</div>
