<footer>

    <div id="links">
        <a href="/mention_legales.html"><h3>mentions légales</h3></a>
        <a href="/contact"><h3>contact</h3></a>
        <a href="/aide.html"><h3>aide</h3></a>
        <a href="#top"><h3>revenir en haut de la page</h3></a>
    </div>

    <p id="description">Site web créé par Alistair RAMEAU et Kiéran GOYAT dans le cadre du projet Web en 1<SUP>re</SUP> année de cybersécurité du logiciel</p>

    <p>Données : <a href="https://data.rennesmetropole.fr/explore/dataset/resultats-des-elections-presidentielles-a-rennes-depuis-2007/">Rennes Metropole</a></p>

</footer>