//fond
footer {
    background-color: var(--medium-light-color);
}

#links {
    width: 100%;

    //affichage flex en ligne avec retour ligne
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
    flex-wrap: wrap;
    
    //espace minimal entre les colonnes, permet de ne pas avoir de marge en cas de retour à la ligne
    column-gap: 40px;
}


#links > div > h3 {
    //style des containers de liens
    margin: 0px;
    text-align: center;
    padding: 10px;
    
    //style du lien revenir en haut
    color: var(--medium-dark-color);
    cursor: pointer;
}

#links > div > h3:hover {
    color: var(--dark-color);
}


//style des liens
#links > div > h3 > a {
    color: var(--medium-dark-color);
    text-decoration: none;
}


#links > div > h3 > a:hover {
    color: var(--dark-color);
}



footer > p {
    color: var(--medium-dark-color);
    padding: 15px;
    margin: 0px;
}

footer > p > a {
    color: var(--dark-color);
    text-decoration: none;
}