<footer>

    <div id="links">
        <div routerLinkActive="active"><a routerLink="mention_legales">Mentions Légales</a></div>
        <div routerLinkActive="active"><a routerLink="contact">Contact</a></div>
        <div routerLinkActive="active"><a routerLink="aide">Aide</a></div>
        <button class="btn" (click)="goToTop()"><h3>Revenir en haut de la page</h3></button>
    </div>

    <p id="description">Site web créé par Alistair RAMEAU et Kiéran GOYAT dans le cadre du projet Web en 1<SUP>re</SUP> année de cybersécurité du logiciel</p>

    <p>Données : <a href="https://data.rennesmetropole.fr/explore/dataset/resultats-des-elections-presidentielles-a-rennes-depuis-2007/">Rennes Metropole</a></p>

</footer>
