<footer>

    <!-- liens de navigation -->
    <div id="links">
        <div routerLinkActive="active"><h3><a routerLink="mention_legales">Mentions Légales</a></h3></div>
        <div routerLinkActive="active"><h3><a routerLink="contact">Contact</a></h3></div>
        <div routerLinkActive="active"><h3><a routerLink="aide">Aide</a></h3></div>

        <!-- bouton retour en haut de la page-->
        <div (click)="goToTop()"><h3>Revenir en haut de la page</h3></div>
    </div>

    <!-- message de description du site-->
    <p id="description">Site web créé par <b>Alistair RAMEAU</b> et <b>Kiéran GOYAT</b> dans le cadre du <b>projet Web</b> en 1<SUP>re</SUP> année de <b>cybersécurité du logiciel</b> à l'<b>ENSIBS</b></p>

    <!-- référence vers l'API -->
    <p>Données : <a href="https://data.rennesmetropole.fr/explore/dataset/resultats-des-elections-presidentielles-a-rennes-depuis-2007/">Rennes Métropole</a></p>

</footer>
