.candidats {
    /* for test */
    width : 300px;
    border: 1px solid black;
    margin-bottom: 20px;


    padding: 10px;
}

.candidats > h3 {
    margin: 0px;
    color: var(--medium-dark-color);
}