#select-annee-tour {
    margin-bottom: 20px;
}

//style de la liste
.liste-deroulante {
    padding: 10px;
    color: var(--medium-dark-color);
    font-size: 20px;
    margin-right: 20px;
}

.liste-deroulante:hover {
    color: var(--dark-color);
}