nav {
    background-color: var(--medium-light-color);

    /* affichage flex en ligne avec retour ligne */
	display: flex;
	flex-direction: row;
    justify-content: flex-end;
    align-items: center;
	flex-wrap: wrap;
}

nav > div {
    padding: 10px;    
}

nav > div > a {

    color: var(--medium-dark-color);
    text-decoration: none;
}

nav > div > a:hover {
    color: var(--dark-color);
}

nav > div > a > h2 {
    margin: 0px;
}