<nav id="top">
    <!-- nom du groupe / logo du site-->
    <div routerLinkActive="active"><a routerLink=""><h2><b>Grp10: Kiéran / Alistair</b></h2></a></div>

    <!-- séparation entre le titre et les liens-->
    <div class="separator"></div>

    <!-- liens de naviagation-->
    <div routerLinkActive="active" (click) = "onRefresh()"><a routerLink=""><h2>Accueil</h2></a></div>
    <div routerLinkActive="active"><a routerLink="contact"><h2>Contact</h2></a></div>
    <div routerLinkActive="active"><a routerLink="aide"><h2>Aide</h2></a></div>
</nav>
